---
import MainLayout from "../layouts/main.astro";

const title = "Eclair documentation";
---

<MainLayout title={title}>
	<div class="md:container md:mx-auto flex flex-col sm:flex-row justify-between items-center">
		<p class="pt-4">Coming soon!</p>
	</div>
	<div>

	</div>
</MainLayout>
