---
import BaseLayout from "../layouts/BaseLayout.astro";
import LeftSideBar from "../components/LeftSideBar.astro";
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer"
import Link from "../components/Link";

const title = "Eclair docs";
---

<BaseLayout title={title}>
  <NavBar/>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex flex-col min-h-screen">
    <main class="grow shrink">
      <div class="flex flex-row pt-8 sm:pr-24 md:pr-36 lg:pr-48">
        <LeftSideBar/>
        <div class="px-2 sm:px-12 flex flex-col items-center">
          <article class="prose sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl prose-code:before:hidden prose-code:after:hidden">
            <h1 id="overview">Documentation</h1>
            <p>
              Welcome to the documentation for the Eclair programming language!
              Eclair is a logical query language that compiles to LLVM IR, focused on quickly solving complex search- and graph-based problems.
            </p>
            <p>
              The sidebar on the left contains an overview of all the different topics.
              If you're new to Eclair, the links below are a great starting point.
              Still have questions after reading the docs?
              Ask a question on our <Link href="https://discord.gg/mC2arUrxKg">Discord server</Link>!
            </p>
            <h2>Getting started</h2>
            <ul>
              <li>
                <Link href="/docs/language-reference">Language reference</Link>
                <p>A high-level overview of all the syntax and features in Eclair.</p>
              </li>
              <li>
                <Link href="/docs/getting-started">Getting started guides</Link>
                <p>Guides to start using Eclair from your programming language of choice.</p>
              </li>
              <li>
                <Link href="/docs/dev-tools">Developer tools</Link>
                <p>Setup your environment for writing Eclair code.</p>
              </li>
              <li>
                <Link href="/docs/faq">Frequently Asked Questions</Link>
                <p>Answers to commonly asked questions.</p>
              </li>
            </ul>
          </article>
          <Footer/>
        </div>
      </div>
    </main>
  </div>
</BaseLayout>
