---
import MainLayout from "../layouts/main.astro";
import Link from "../components/Link"

const title = "FAQ";

const questions = [
	["", ""]

	// TODO logo questions
];

---

<MainLayout title={title}>
	<h1 class="font-bold text-2xl">Frequently asked questions</h1>
	<dl>
		{questions.map(([question, answer]) =>
			<>
				<dt class="font-semibold text-xl">{question}</dt>
				<dd class="text-lg pt-2">{answer}</dd>
			</>
		)}

		<dt class="font-semibold text-xl pt-4">Where does the name come from?</dt>
		<dd class="text-lg pt-2">
			Eclair is inspired by <Link href="https://souffle-lang.github.io">Soufflé</Link>,
			another high-performance Datalog. Because of the similarities, a different kind of
			food was chosen to stay in the same theme. Besides, an eclair contains both chocolate
			and pudding, what's not to like?
		</dd>

		<dt class="font-semibold text-xl pt-4">What license does Eclair have?</dt>
		<dd class="text-lg pt-2">
			The Eclair compiler itself is licensed under a BSD-3 license, a permissive open-source license.
			You can find the license <Link href="https://github.com/luc-tielen/eclair-lang/blob/main/LICENSE">here</Link>.
			Note that the license only applies to the compiler; you are free to license the generated code however you see fit.
		</dd>
	</dl>
	<p class="text-sm pt-6">
		Can't find the answer you're looking for?
		Take a look at our <Link href="/docs">documentation</Link>
		or consider submitting a
		<Link href="https://github.com/luc-tielen/eclair-website/issues">issue on Github</Link>.
	</p>
</MainLayout>
