---
import MainLayout from "../layouts/main.astro";

const title = "Eclair";
---

<MainLayout title={title}>
	<div class="md:container md:mx-auto flex flex-col sm:flex-row justify-between items-center">
		<img
			src="/logo_light.png"
			alt="Eclair logo"
			class="w-96"/>
		<p class="text-xl">
			A <em>lightning-fast</em> logical query language for solving complex search- and graph-based problems.
		</p>
	</div>
	<div>

	</div>
</MainLayout>
