---
import MainLayout from "../layouts/MainLayout.astro";
import LineChart from "../components/LineChart";
import benchmarkData from "../../performance/historical-data.json";

interface DataPoint {
  estimated: number;
  lowerBound: number;
  upperBound: number;
}

interface BenchData {
  date: string;
  commitHash: string;
  values: DataPoint;
};

const benchDataByReportName: { [key: string]: BenchData[] } = {};

benchmarkData.forEach((datapoint) => {
  const date = datapoint.date;
  const commitHash = datapoint.commitHash;
  datapoint.results.forEach((result) => {
    const reportName = result.reportName;
    const measurement = {
      date,
      commitHash,
      values: result.values,
    };

    benchDataByReportName[reportName] = (benchDataByReportName[reportName] || []).concat(measurement)
  });
});

const toChartData = (benchData: BenchData[]) => ({
  labels: benchData.map((data) => `${data.date} - ${data.commitHash}`),
  datasets: [
    {
      type: "line" as const,
      data: benchData.map((point) => point.values.estimated),
      borderColor: "#fcd34d",
      pointRadius: 0,
      backgroundColor: "rgba(253, 224, 71, 0.2)",
      pointBackgroundColor: "transparent",
    },
    {
      type: "line" as const,
      data: benchData.map((point) => point.values.lowerBound),
      backgroundColor: "rgba(253, 224, 71, 0.2)",
      borderColor: "transparent",
      pointRadius: 0,
      pointBackgroundColor: "transparent",
      fill: 0,  // fill goes to line 0
    },
    {
      type: "line" as const,
      data: benchData.map((point) => point.values.upperBound),
      backgroundColor: "rgba(253, 224, 71, 0.2)",
      borderColor: "transparent",
      pointRadius: 0,
      pointBackgroundColor: "transparent",
      fill: 0,  // fill goes to line 0
    },
  ],
});

---

<MainLayout title="Eclair benchmarks">
  <div class="pt-4 flex flex-col gap-1">
    <h1 class="text-2xl font-bold pb-2">Performance tracking</h1>
    <p>
      Below are a set of benchmarks used to keep track of the runtime
      performance of Eclair. The benchmarks are part of the main repository
      and can be found
      <a href="https://github.com/luc-tielen/eclair-lang/blob/main/benchmarks/src/Main.hs" class="text-blue-500 visited:text-indigo-500 hover:underline">here</a>.
    </p>
    {
      Object.entries(benchDataByReportName).map(
        ([reportName, benchData]) => (
          <LineChart
            title={reportName}
            data={toChartData(benchData)}
            client:only
          />
        )
      )
    }
  </div>
</MainLayout>
