---
import { docPagesGroupedBySection } from "../util/docs"

---

<aside class="z-20 hidden sm:block text-xs">
  <div id="left-scrollbar" class="sticky h-screen overflow-y-auto top-12 bottom-0 pt-8 sm:pl-2 md:pl-4 lg:pl-8 w-48 flex flex-col text-slate-700">
    <h2 class="pl-3 pb-1 font-medium text-sm">
      Documentation
    </h2>
    {docPagesGroupedBySection.map(([section, pages]) => (
      <h3 class="font-medium pl-3 pt-3 pb-2">{section}</h3>
      <ul>
	{pages.map(docPage =>
	  <li class="flex items-center">
	    <svg
	      width="3"
	      height="24"
	      viewBox="0 -9 3 24"
	      class="inline-block mr-2 text-slate-400 overflow-visible group-hover:text-slate-600"
	    >
	      <path
		d="M0 0L3 3L0 6"
		fill="none"
		stroke="currentColor"
		stroke-width="1.5"
		stroke-linecap="round" />
	    </svg>
	    <a href={`/docs/${docPage.slug}`} class="hover:text-slate-900">
	      {docPage.title}
	    </a>
	  </li>
	)}
      </ul>
    ))}
  </div>
</aside>
