---
import TableOfContents from './TableOfContents';
import generateToc from '../util/generate-toc';

const { headings } = Astro.props;
const overview = "Overview";
---

<aside id="right-scrollbar" class="hidden lg:flex text-xs">
  <nav aria-label="Secondary" class="z-20 h-screen sticky top-12 pt-8 sm:pr-2 md:pr-4 lg:pr-8 w-48 overflow-y-auto">
    {headings ? (
        <TableOfContents
          collapseButton={null}
          toc={generateToc(headings, overview)}
          labels={{ onThisPage: "On this page" }} />
      ) : null
     }
  </nav>
</aside>
