---
import TableOfContents from './TableOfContents';
import generateToc from '../util/generate-toc';

const { headings } = Astro.props;
const overview = "Overview";
---

<aside id="right-scrollbar" class="hidden sm:flex text-xs">
  <nav aria-label="Secondary" class="z-20 h-screen sticky top-0 pt-8 pr-8 w-48 overflow-y-auto">
    {
      headings && (
	<TableOfContents
	  toc={generateToc(headings, overview)}
	  labels={{ onThisPage: "On this page" }}
	/>
      )
    }
  </nav>
</aside>

<style is:global>
#right-scrollbar::-webkit-scrollbar, #right-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

#right-scrollbar::-webkit-scrollbar-thumb {
	background-color: #d9d9d9;
	border: 4px solid transparent;
	background-clip: content-box;
	border-radius: 10px;
}
</style>
