---
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
---

<MainLayout title={frontmatter.title}>
  <div class="pt-8">
    <article class="prose">
    <h1>{frontmatter.title}</h1>
      <slot/>
    </article>
  </div>
</MainLayout>
