---
import BaseLayout from "./BaseLayout.astro";
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer"

const { title } = Astro.props;
---

<BaseLayout title={title}>
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div class="mx-auto max-w-3xl flex flex-col min-h-screen">
			<main class="pt-2 flex-grow">
				<NavBar/>
				<slot/>
			</main>
			<Footer/>
		</div>
	</div>
</BaseLayout>
