---
import BaseLayout from "./BaseLayout.astro";
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer"

const { title } = Astro.props;

// Main page is less wide than other pages (max-w-3xl)
---

<BaseLayout title={title}>
	<NavBar/>
	<div class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8">
		<main class="flex-grow">
			<slot/>
		</main>
		<Footer/>
	</div>
</BaseLayout>
